<a href="https://colab.research.google.com/github/shajohn4/Portfolio/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [4]:
a = np.array([[1,2],[3,4],[5,6]])

In [7]:
print('shape of array',a.shape)
print('dimension of array',a.ndim)
print('DataType of array',a.dtype)
print('Size of array',a.size)
print('itemsize of array',a.itemsize)
print('Print array',a)

shape of array (3, 2)
dimension of array 2
DataType of array int64
Size of array 6
itemsize of array 8
Print array [[1 2]
 [3 4]
 [5 6]]

In [6]:
b=np.ravel(a)
print('Flatten array',b)

Flatten array [1 2 3 4 5 6]

Ravel will flatten the array into one dimensional array. It will not make changes to original array instead create a new one dimensional array.

In [9]:
c=np.array([[1,2],[3,4],[5,6]],dtype=float)
print(c)
print(c.dtype)

[[1. 2.]
 [3. 4.]
 [5. 6.]]
float64

In [12]:
d = np.zeros((3,4),dtype=int)
#initialize an array with zero value
print(d)

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

In [13]:
d = np.ones((3,4),dtype=int)
#initialize an array with one value
print(d)

[[1 1 1 1]
 [1 1 1 1]
 [1 1 1 1]]

In [14]:
d = np.arange(1,5)
#Create an array with 5 elements
print(d)

[1 2 3 4]

In [15]:
d = np.arange(1,10,2)
#Create an array with 5 elements with stride of 2
print(d)

[1 3 5 7 9]

In [19]:
d = np.linspace(1,10,5,dtype = int)
#Create an array with 5 elements which are equally spaced
print(d)

[ 1  3  5  7 10]

In [21]:
d = np.array([[1,2],[4,6],[8,20]])
print(d)
print('Minimum value from the array',d.min())
print('Maximum value from the array', d.max())

[[ 1  2]
 [ 4  6]
 [ 8 20]]
1
20

In [24]:
print('Sum of the array elements', d.sum())
print('Sum of the array elements (rowwise addition of elements)', d.sum(axis =0))
print('Sum of the array elements (columnwise addition of elements)', d.sum(axis =1))

Sum of the array elements 41
Sum of the array elements [13 28]
Sum of the array elements [ 3 10 28]

In [35]:
a = np.array([[2,3],[4,6]])
b = np.array([[20,30],[40,60]])
print('array a', a)
print('array b', b)
print('addition of array a and b', a+b)
print('subtraction of array a and b', a-b)
print('multiplication of array a and b', a*b)
print('division of array a and b', a/b)
print('matrix product of array a and b', np.dot(a,b))

array a [[2 3]
 [4 6]]
array b [[20 30]
 [40 60]]
addition of array a and b [[22 33]
 [44 66]]
subtraction of array a and b [[-18 -27]
 [-36 -54]]
multiplication of array a and b [[ 40  90]
 [160 360]]
division of array a and b [[0.1 0.1]
 [0.1 0.1]]
matrix product of array a and b [[160 240]
 [320 480]]

In [37]:
# slicing and dicing
a = np.array([1,2,3,4,5,6])
print(a[0])
print(a[0:4])
print(a[-1])
print(a[:-1])
print(a[:])

1
[1 2 3 4]
6
[1 2 3 4 5]
[1 2 3 4 5 6]

In [55]:
# slicing and dicing in matrix
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(a)
print('')
print('last row of the matrix', a[-1])
print('')
print(a[:,:])
print('')
print('First row third column element', a[0,2])
print('')
print('Third row second column element', a[2,1])
print('')
print('All rows second column element', a[:3,1])
print('')
print('last column two  values', a[:-1,0:-1])

[[1 2 3]
 [4 5 6]
 [7 8 9]]

last row of the matrix [7 8 9]

[[1 2 3]
 [4 5 6]
 [7 8 9]]

First row third column element 3

Third row second column element 8

All rows second column element [2 5 8]

last column two  values [[1 2]
 [4 5]]

In [69]:
# slicing and dicing in matrix
a = np.array([[1,2,3],[4,5,6],[7,8,9]])

for row in a:
  print (row)

print('')
print('')
for col in a:
  print (col)

d= np.ravel(a)
print(d)  

print('')
for col in d:
  print(d[col-1])

print('')
for b in a.flat:
  print(b)

[1 2 3]
[4 5 6]
[7 8 9]


[1 2 3]
[4 5 6]
[7 8 9]
[1 2 3 4 5 6 7 8 9]

1
2
3
4
5
6
7
8
9

1
2
3
4
5
6
7
8
9

In [76]:
# stacking two arrays
a = np.arange(6).reshape(2,3)
print(a)
print('')
b = np.arange(6,12).reshape(2,3)
print(b)

print('')
print('Vertical stacking of arrays', np.vstack((a,b)))

print('')
print('Horizontal stacking of arrays', np.hstack((a,b)))

[[0 1 2]
 [3 4 5]]

[[ 6  7  8]
 [ 9 10 11]]

Vertical stacking of arrays [[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

Horizontal stacking of arrays [[ 0  1  2  6  7  8]
 [ 3  4  5  9 10 11]]

In [85]:
# splitting of arrays
a = np.arange(12).reshape(3,4)
print(a)
print('')

b = np.hsplit(a,2)
print(b)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

[array([[0, 1],
       [4, 5],
       [8, 9]]), array([[ 2,  3],
       [ 6,  7],
       [10, 11]])]

In [90]:
# vertical splitting of arrays
a = np.arange(18).reshape(6,3)
print(a)
print('')

b = np.vsplit(a,2)
print(b)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]
 [15 16 17]]

[array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]]), array([[ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17]])]

In [94]:
a = np.arange(12).reshape(3,4)
print(a)

b = a > 4
print('')
print(b)

print('')
print(a[b])

print('')
a[b]=-1
print(a)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]

[[False False False False]
 [False  True  True  True]
 [ True  True  True  True]]

[ 5  6  7  8  9 10 11]

[[ 0  1  2  3]
 [ 4 -1 -1 -1]
 [-1 -1 -1 -1]]